@charset "utf-8";

.hide {
	display: none;
}

dd.auth_pane {
	min-width: 600px;
	_width: 600px;
}

dd.auth_pane dd {
	width: 350px;
}

.auth_pane fieldset {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}

.auth_pane fieldset label {
	float: none;
}

dl.block {
	width: 100% !important;
	height: auto !important;
}

ul.auth_list li {
	width: 590px
}

ul.auth_list li dl {
	width: 100%;
}

.readContent {
	padding: 10px;
	border: 1px solid #aaa;
	background: #fafafa;
	border-radius: 4px;
	margin-bottom: 10px;
}

.pageContent.txtContent {
	padding: 0px 10px;
}

ol.attach_list { margin: 0px 0px 4px 0px; padding: 0; }
ol.attach_list li { list-style: none; margin: 5px; padding: 5px; width: 450px; border: 1px solid #e8f4ff; background: #eee; }
ol.attach_list li:hover { cursor: hand; }

ul.attach_list { margin: 0px; padding: 4px; }
ul.attach_list li { list-style: none; }
ul.attach_list li.upload_error { border: 1px solid darkred; color: red; padding-left: 10px; }

div.upload_loading { background: url(../images/loading.gif); width: 24px; }
ul.attach_list li:hover { cursor: hand; }